---
import { Image } from 'astro:assets'

import { Button, Collapse } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import KeyIcon from '@/assets/icons/key.svg'

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' }
]
---

<PageLayout title='Projects' {headings}>
  {/* About astro-pure */}
  <div class='not-prose flex justify-center'>
    <a
      href='/docs/advanced/about' target='_blank'
      class='flex items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
    >
      <span class='size-2 rounded-full bg-green-400'></span>
      <p class='font-medium text-muted-foreground'>About Astro-Theme-Pure Project</p>
    </a>
  </div>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/cworld1'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    如果您认为合作开展某个项目会很有意义或很有趣，请联系我讨论该项目。
  </p>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'k210的数字识别',
        description: '数字识别py和源模型',
        links: [
          { type: 'github', href: 'https://github.com/RAB123QQ/k210_ldentify-numbers' },
        ]
      }
    ]}
  />
  <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        
      ]}
    />
  </Collapse>

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
     
    ]}
  />

  <h2 id='others'>一些优秀的项目</h2>
  <ProjectSection
    projects={[
      {
        name: 'Embodied-AI-Guide',
        description: 'Embodied AI(具身智能)入门的路径以及高质量信息的总结,',
        links: [{ type: 'site', href: 'https://lumina-embodied.ai/blog/eai-guide#cite' }]
      }
    ]}
  />
</PageLayout>
